<!--<div class="jumbotron detail-wrapper">
  <div class="container">
    <h1 class="jumbotron-heading">DETAIL PAGE</h1>
    <p class="lead text-muted">This is a simple detail page where you can insert all informations about your section</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" routerLink="/" role="button">GO BACK</a>
    <p>You selected article = {{articleName}}</p>
  </div>
</div>-->

<section class="detail-component">
  <header></header>
  <div class="body-section">
    <div class="container">
      <a routerLink="/" class="btn btn-primary">Home</a>
      <div class="col-md-12 wrapper-article">
        <h4 class="article-title">{{articleName}}</h4>
        <p class="card-text">subtitle</p>
        <p class="text-xs-left">Article here</p>
      </div>
      
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="col-sm-12 text-wrapper">
        <p class="text-xs-center">Safety Bio Life</p>
      </div>
      <!--<a class="btn btn-primary icon-arrow-up" href="#top" role="button"></a>-->
    </div>
  </footer>
</section>


