<!--<div class="jumbotron detail-wrapper">
  <div class="container">
    <h1 class="jumbotron-heading">DETAIL PAGE</h1>
    <p class="lead text-muted">This is a simple detail page where you can insert all informations about your section</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" routerLink="/" role="button">GO BACK</a>
    <p>You selected article = {{articleName}}</p>
  </div>
</div>-->

<section class="detail-component">
  <header></header>
  <div class="body-section">
    <div class="container">
      <a routerLink="/" class="btn btn-primary">Home</a>
      <div class="col-md-12 wrapper-article">
        <h4 class="article-title">Settore Privato</h4>
        <p class="card-text">Case, condomini, cantine, servizi igienici, impianti di climatizzazione, auto, camion, camper</p>
        <p class="text-xs-left">L’inquinamento dell’aria non riguarda soltanto gli ambienti esterni ma coinvolge anche l’ambiente domestico. Polveri sottili, fumo di sigaretta, spray, allergeni sono soltanto alcune delle sostanze nocive che inquinano quotidianamente la nostra casa.</p>
        <p class="text-xs-left">Aerare i locali è un’ottima soluzione per favorire l’ossigenazione degli ambienti, ma non è sempre sufficiente ad eliminare le sostanze dannose.</p>
        <p class="text-xs-left">L’ozono è un forte agente ossidante e questa sua caratteristica è stata prontamente utilizzata in molti processi di trattamento acqua ed aria. Il suo effetto battericida, funghicida e inattivante dei virus è noto dal 1890. L’ozono è in grado di eliminare batteri , virus, acari, funghi , muffe , spore , etc.</p>
        <p class="text-xs-left">L’uso dell’ozono assicura ottimi risultati nella lotta alla Legionella e a molte specie di batteri, fra i quali la l’E.Coli, le Salmonelle.</p>
        <p class="text-xs-left">L’azione dell’ozono non si limita ai batteri ed ai virus; distrugge composti aromatici altamente velenosi ed elimina gli odori. Essendo un gas instabile, pochi minuti dopo l’utilizzo l’ozono si trasforma in ossigeno, senza lasciare alcun tipo di tracce o residui chimici.</p>
        <p class="text-xs-left">La disinfezione e sanificazione mediante l’ozono è oltre 2000 volte più efficace di qualunque metodo di sanificazione tradizionale.</p>
        <p class="text-xs-left">L’ambiente in cui viviamo prolifera di agenti patogeni dannosi per il nostro organismo e capaci di compromettere la qualità della nostra vita.</p>
        <p class="text-xs-left">Ti sei mai chiesto che cosa viene fuori dai nostri rubinetti? L’acqua dei nostri acquedotti arriva nelle nostre case inquinata a causa di una rete idrica superata e, per questo, virus e batteri si annidano nelle tubature: ad esempio, mentre ci si lava o si beve si rischia di respirare o ingerire microbi potenzialmente dannosi, come il batterio della “legionella”.</p>
        <p class="text-xs-left">I campioni delle acque maggiormente colpite sono stati prelevati nelle abitazioni private con risultati anche 100 volte superiori rispetto alla norma ed hanno appurato che questi virus sono areosolici, quindi facilmente assimilabili attraverso la semplice respirazione.</p>
        <p class="text-xs-left">Pertanto, è consigliabile utilizzare un sistema di sanificazione e purificazione delle acque basato sul principio attivo sanificante dell’OZONO, sostanza benefica capace di annientare virus, batteri, muffe e funghi, migliorando notevolmente il benessere quotidiano dell’intero organismo.</p>
        <p class="text-xs-left">Tale metodo assicura la fruizione di acqua pura da utilizzare per bere, per lavare e per lavarsi in assoluta tranquillità, poiché il trattamento con acqua ozonizzata stimola la circolazione sanguigna e il metabolismo cellulare.</p>
        <p class="text-xs-left">Lavare frutta e verdura con l’acqua ozonizzata ci dà la tranquillità di aver neutralizzato virus, batteri, pesticidi e metalli pesanti. Inoltre, tale acqua è ottima come ingrediente delle bevande come il caffè o il tè, dei gelati, della pasta fatta in casa, del pane, della pizza o di ogni piatto.</p>
        <p class="text-xs-left">L’ozono è un potente disinfettante e deodorizzante ecologico, in grado di eliminare virus, batteri, funghi, muffe ed eventuali odori presenti. Ideale per disinfettare e deodorizzare veicoli, tappezzeria, condotti di ventilazione e filtri.</p>
        <p class="text-xs-left">Perché il generatore di Ozono:</p>
        <ul>
          <li><p>Non richiede l’utilizzo di prodotti chimici.</p></li>
          <li><p>L’ozono non maschera gli odori, li elimina letteralmente scomponendo i composti odoranti in sostanze ridotte che perdono il loro odore e la loro tossicità.</p></li>
          <li><p>Certezza dei costi.</p></li>
          <li><p>Ecologico – non inquina l’ambiente.</p></li>
          <li><p>Non lascia residui di nessun tipo.</p></li>
          <li><p>Eliminare odori di tabacco, cibo, rifiuti, escrementi, vomito, umidità.</p></li>
          <li><p>È un sistema automatico, non necessita di lavoro meccanico.</p></li>
          <li><p>È un potente disinfettante in grado di penetrare anche negli angoli più difficili da raggiungere.</p></li>
          <li><p>Eliminare tossine VOC composti organici volatili.</p></li>
          <li><p>Ridurre il monossido di carbonio.</p></li>
          <li><p>Previene la diffusione di malattie ed infezioni.</p></li>
          <li><p>Rende gli ambienti puliti, ossigenati e disinfettati.</p></li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="col-sm-12 text-wrapper">
        <p class="text-xs-center">Safety Bio Life</p>
      </div>
      <!--<a class="btn btn-primary icon-arrow-up" href="#top" role="button"></a>-->
    </div>
  </footer>
</section>


