#stats
    height: 100vh
    overflow-y: scroll
    .container-fluid
        margin-top: 50px
        padding: 0 50px
        .table-card
            background-color: #fff
            padding: 15px
            border-radius: 4px
        p.user-name
            text-align: right
    
        table
            // thead
            //     display: block
            // tbody
            //     height: 400px
            //     overflow-y: scroll
            //     display: block
            th
                border-top: 0px


