#table
    height: 100vh
    overflow-y: scroll
    .container-fluid
        margin-top: 50px
        padding: 0 50px
        .table-card
            background-color: #fff
            padding: 15px
            border-radius: 4px
            margin-bottom: 50px
        p.user-name
            text-align: right
            margin-top: -50px
    
        table
            thead th.long-text-imei,
            tbody td.long-text-imei
                min-width: 200px
            thead th.long-text,
            tbody td.long-text
                min-width: 280px
            thead th.long-text-ragione,
            tbody td.long-text-ragione
                min-width: 350px
            th
                border-top: 0px
                
        .table-pagination
            text-align: right

