<section id="stats">
  <div class="container-fluid">
    <div class="table-name">
      <p class="user-name">Nome Cliente: <span>Carglass</span></p>
    </div>
    <div class="table-card" [@cardstats]>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr *ngFor="let label of labels">
              <th class="long-text-imei">IMEI</th>
              <th>N˚</th>
              <th class="long-text">Address</th>
              <th class="long-text">Data</th>
              <th class="long-tex-ragionet">Ragione Invio</th>
              <th>{{label.field_lav_1}}</th>
              <th>{{label.field_lav_2}}</th>
              <th>{{label.field_lav_3}}</th>
              <th>{{label.field_lav_4}}</th>
              <th>Cicli Ricarica</th>
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let message of messages">
              <td class="long-text-imei">
                {{message.field_box_imei}}
              </td>
              <td>
                {{message.field_ref_box}}
              </td>
              <td class="long-text">
                {{message.field_box_address}}
              </td>
              <td class="long-text">
                {{message.field_data_invio}}
              </td>
              <td class="long-text-ragione">
                {{message.field_ref_tipo_di_comunicazione}}
              </td>
              <td>
                {{message.field_lavorazione_1}}
              </td>
              <td >
                {{message.field_lavorazione_2}}
              </td>
              <td>
                {{message.field_lavorazione_3}}
              </td>
              <td>
                {{message.field_lavorazione_4}}
              </td>
              <td>
                {{message.field_cicli_di_ricarica}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>