@import './../../../styles.sass'

#sbl-areas
    position: relative
    background-color: $dark-color
    color: $light-color
    padding: 10vh 0
    .title-section 
        font-size: 6em
        top: auto 
        text-align: center
        padding: 50px 0px
        letter-spacing: normal 
        font-family: 'Dosis', sans-serif
        font-weight: 800
        color: #4990E2
        position: absolute
        right: 125px
        top: -106px
    .card-block
        a.all-article
             color: #7ED321
    


.view 
  margin: 20px
  overflow: hidden
  position: relative
  text-align: center
  background-color: $dark-color
  .mask,
  .content 
    width: 100%
    height: 100%
    position: absolute
    overflow: hidden
    top: 0
    left: 0
  img 
   display: block
   position: relative
  h2 
   text-transform: uppercase
   color: #fff
   text-align: center
   position: relative
   font-size: 17px
   padding: 10px
   margin: 20px 0 0 0
  p 
   font-size: 12px
   position: relative
   color: #fff
   padding: 10px 20px 20px
   text-align: center
  a.info 
   display: inline-block
   text-decoration: none
   padding: 7px 14px
   background-color: $light-color
   color: $font-color
   text-transform: uppercase

.view-tenth img 
   -webkit-transform: scaleY(1)
   -moz-transform: scaleY(1)
   -o-transform: scaleY(1)
   -ms-transform: scaleY(1)
   transform: scaleY(1)
   -webkit-transition: all 0.7s ease-in-out
   -moz-transition: all 0.7s ease-in-out
   -o-transition: all 0.7s ease-in-out
   -ms-transition: all 0.7s ease-in-out
   transition: all 0.7s ease-in-out

.view-tenth .mask 
   border: 2px solid #fff
   -webkit-transition: all 0.5s linear
   -moz-transition: all 0.5s linear
   -o-transition: all 0.5s linear
   -ms-transition: all 0.5s linear
   transition: all 0.5s linear
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
   filter: alpha(opacity=0)
   opacity: 0

.view-tenth:hover img 
   -webkit-transform: scale(10)
   -moz-transform: scale(10)
   -o-transform: scale(10)
   -ms-transform: scale(10)
   transform: scale(10)
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"
   filter: alpha(opacity=0)
   opacity: 0

.view-tenth:hover .mask 
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"
   filter: alpha(opacity=100)
   opacity: 1

.view-tenth:hover h2,.view-tenth:hover p,.view-tenth:hover a.info 
   -webkit-transform: scale(1)
   -moz-transform: scale(1)
   -o-transform: scale(1)
   -ms-transform: scale(1)
   transform: scale(1)
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)"
   filter: alpha(opacity=100)
   opacity: 1



.list-group
    color: black
    padding-bottom: 50px






section.detail-component
  header
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    height: 60vh
    z-index: -1
    position: fixed
    width: 100%
    top: 0
    &:after
      content: ""
      height: 60vh
      width: 100%
      position: absolute
      top: 0;
      z-index: 9
      background-color: #5D5F65
      opacity: 0.75

  .body-section
    margin-top: 60vh
    background-color: #fff
    padding: 0
    .back-icon
      background-color: #7ED321
      height: 75px
      width: 75px
      border-radius: 50%
      padding: 21px
      line-height: 34px
      color: #fff
      position: absolute
      top: -36px
      text-decoration: none
    .wrapper-article
      padding: 15vh 0
      .article-title
        text-transform: uppercase;
        font-family: 'Archivo Black', sans-serif;
        color: #4990E2
      p.card-text
        padding-bottom: 50px
        letter-spacing: 0.1em
        font-weight: 600
      p.text-xs-left
        text-align: left !important
    a.btn
      position: absolute
      top: -21px
      z-index: 999

  footer
    .text-wrapper
      padding: 50px 0
      background-color: #d3d3d3
      text-align: center
      p 
        margin: 0
    a.btn.icon-arrow-up
      position: absolute
      left: 35px
      bottom: 100px
      border-radius: 50%
      width: 65px
      height: 65px
      line-height: 3

  .btn-top
    position: absolute
    left: 25px
    background: black
    color: #fff
    line-height: 61px
    border-radius: 50%
    height: 75px
    width: 75px
    margin-top: 34px