<section id="sbl-areas" class="sbl-section">
  <h1 class="title-section">AMBITI</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6" *ngFor="let article of articles">
        <div class="view view-tenth">
          <img src="{{article.url}}" class="card-img-top img-fluid" alt="card-image"/>
          <div class="mask">
            <h2>{{article.name}}</h2>
            <p>{{article.subtitle}}</p>
          </div>
        </div>
        <div class="card-block">
          <h4 class="card-title">{{article.title}}</h4>
          <p class="card-text">{{article.subtitle}}</p>
          <p class="card-text"><small>{{article.intro}}</small></p>
          <a [routerLink]="['', article.name]" class="btn btn-primary">...leggi tutto!</a>
        </div>
      </div>
    </div>
  </div>
</section>