<div *ngIf="authService.user | async">
  <div class="login-name">
    <p class="user-name" *ngIf="authService.user | async">Welcome {{ (authService.user | async)?.email }}!</p>
  </div>
  <app-dashboard></app-dashboard>
</div>

<div *ngIf="!(authService.user | async)">
  <section id="home-section">
    <div class="text-header-wrapper">
      <a class="link link--mallki" href="#">SAFETY BIO LIFE<span data-letters="SAFETY BIO LIFE"></span><span data-letters="SAFETY BIO LIFE"></span></a>
      <p>It makes your life better</p>
      <a (click)="open()" [@loginAnimate] class="btn btn-success btn-lg btn-login">LOGIN</a>
    </div>
  </section>
  <app-navbar></app-navbar>
  <app-mission></app-mission>
  <app-target></app-target>
  <app-services></app-services>
  <app-areas></app-areas>
  <app-map></app-map>
</div>