<div class="sbl-login">
  <div class="modal-header">
    <h4 class="modal-title">Welcome</h4>
    <p class="modal-sub-title">This is a private area. You need to know the credentials to view the private page.</p>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input type="email" class="form-control" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" placeholder="Enter Password">
    </div>
  </div>
  <div class="modal-footer">
    <button routerLink="/private-dashboard" type="submit" class="btn btn-block btn-lg btn-primary">SIGN IN</button>
  </div>
</div>

