<section class="detail-component">
  <header></header>
  <div class="body-section">
    <div class="container">
      <a routerLink="/" class="btn btn-primary">Home</a>
      <div class="col-md-12 wrapper-article">
        <h4 class="article-title">Settore Produttivo</h4>
        <p class="card-text">Mense, industrie alimentari, conserviere, panifici, laboratori artigianali dolciari e gelaterie, macelli, allevamenti e stalle</p>
        <p class="text-xs-left">Il trattamento e la conservazione di formaggi richiede un tasso di umidità elevato che rende il formaggio e gli ambienti di conservazione, particolarmente soggetti alla formazione di muffa.</p>
        <p class="text-xs-left">L’ozono può essere usato per sanificare, sterilizzare ed ottenere un adeguato controllo ambientale negli impianti di confezionamento e preparazione del latte e dei formaggi, per la sanificazione delle acque di governo per mozzarelle e latticini. L’acqua trattata con ozono è infatti priva di odori e sapori sgradevoli e svolge una importante azione germicida e di abbattimento di tutti i microinquinanti organici.</p>
        <p class="text-xs-left">L’ozono utilizzato nelle sale di stagionatura consente di ottenere prodotti privi di muffe indesiderate (verdi, gialle, nere), nelle camere bianche consente di operare con aria purissima ed in un ambiente praticamente sterile.</p>
        <p class="text-xs-left">L’ozono è stato impiegato anche su formaggi come la ricotta, il gorgonzola, il taleggio, per combattere la Listeria monocytogenes e nelle celle di stagionatura di vari formaggi, per evitare infestazioni di insetti e parassiti indesiderati.</p>
        <p class="text-xs-left">Infine, l’ozono può essere utilizzato nel trattamento del siero e dei fanghi reflui per ridurne i costi di smaltimento.</p>
        <p class="text-xs-left">L’ozono grazie al suo potere ossidante è utilizzato per la disinfezione e depurazione di acque reflue e acque potabili. Il trattamento dell’acqua potabile con ozono garantisce una completa disinfezione, l’abbattimento di virus, batteri, alghe, funghi, muffe e riduce i composti tossici al suo interno.</p>
        <p class="text-xs-left">L’ozono trova numerose applicazioni nell’industria del trattamento delle carni. Può essere impiegato per la sanificazione degli ambienti di lavorazione della carne e per la sanificazione degli utensili che vengono utilizzati.</p>
        <p class="text-xs-left">I vantaggi dell’utilizzo dell’ozono sono:</p>
        <ul>
          <li><p>Un marcato aumento del tempo medio di conservazione delle merci sia nei banchi refrigerati che all’interno delle celle frigorifere (fino ad una settimana in più per le frattaglie e per i tagli di manzo e di maiale)</p></li>
          <li><p>L’eliminazione degli odori di natura organica;</p></li>
          <li><p>La possibilità di mantenere il tasso di umidità nelle celle ad una gradazione più elevata, attenuando il calo di peso.</p></li>
        </ul>
        <p class="text-xs-left">Inoltre, l’utilizzo dell’ozono fornisce maggiori garanzie contro i patogeni come E.coli, Listeria contaminanti come Pseudomonas, Candida, Penicillium, impattando positivamente sulla shelf life dei prodotti. La conservazione della carne di maiale, ad esempio, sottoposta a trattamento con ozono, si incrementa almeno del 20%.</p>
        <p class="text-xs-left">Nell’industria dei Salumi l’ozono può essere usato per sanificare, sterilizzare ed ottenere un adeguato controllo ambientale negli impianti di confezionamento e preparazione di salumi, evitando l’impiego di grandi quantità d’acqua per il lavaggio ed i risciacqui e l’impiego di prodotti chimici che possono lasciare residui indesiderati.</p>
        <p class="text-xs-left">L’ozono è efficace nella disinfestazione di acari nei prodotti di salumeria (prosciutti crudi stagionati, speck, coppe, pancette arrotolate, culatelli, salami a lunga stagionatura, ecc.); può essere inoltre utilizzato nelle sale di stagionatura per ottenere prodotti privi di muffe indesiderate e per evitare l’attacco da parte di insetti</p>
        <p class="text-xs-left">Perché il generatore di Ozono:</p>
        <ul>
          <li><p>Non richiede l’utilizzo di prodotti chimici.</p></li>
          <li><p>L’ozono non maschera gli odori, li elimina letteralmente scomponendo i composti odoranti in sostanze ridotte che perdono il loro odore e la loro tossicità.</p></li>
          <li><p>Certezza dei costi.</p></li>
          <li><p>Ecologico – non inquina l’ambiente.</p></li>
          <li><p>Non lascia residui di nessun tipo.</p></li>
          <li><p>Eliminare odori di tabacco, cibo, rifiuti, escrementi, vomito, umidità.</p></li>
          <li><p>È un sistema automatico, non necessita di lavoro meccanico.</p></li>
          <li><p>È un potente disinfettante in grado di penetrare anche negli angoli più difficili da raggiungere.</p></li>
          <li><p>Eliminare tossine VOC composti organici volatili.</p></li>
          <li><p>Ridurre il monossido di carbonio.</p></li>
          <li><p>Previene la diffusione di malattie ed infezioni.</p></li>
          <li><p>Rende gli ambienti puliti, ossigenati e disinfettati</p></li>
        </ul>
      </div>
    </div>
  </div>
  <footer>
    <div class="row">
      <div class="col-sm-12 text-wrapper">
        <p class="text-xs-center">Safety Bio Life</p>
      </div>
      <!--<a class="btn btn-primary icon-arrow-up" href="#top" role="button"></a>-->
    </div>
  </footer>
</section>
