<section id="services-section">
  
  <img src="{{urlOzono}}" alt="img-ozonizzatrice" class="img-ozono img-fluid">
  <h1 class="title-section">SERVIZI</h1>
  <div class="container wrapper-services">
      <div class="card card-outline-primary mb-3 text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <header>Eliminazione e contenimento</header>
            <p>Eliminazione e contenimento dei rischi di carattere chimico, biologico, fisico, meccanico, infortunistico e di odori molesti</p>
          </blockquote>
        </div>
      </div>
      <div class="card card-outline-primary mb-3 text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <header>Salvaguardia</header>
            <p>Salvaguardia dell’igiene alimentare</p>
          </blockquote>
        </div>
      </div>
      <div class="card card-outline-primary mb-3 text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
           <header>Impiego di fonti energetiche rinnovabili</header>
            <p>Impiego di fonti energetiche rinnovabili</p>
          </blockquote>
        </div>
      </div>
      <div class="card card-outline-primary mb-3 text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <header>Utilizzo</header>
            <p>Utilizzo di prodotti, materiali e sostanze eco-compatibili.</p>
          </blockquote>
        </div>
      </div>
      <div class="card card-outline-primary mb-3 text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <header>Realizzazione</header>
            <p>Realizzazione e gestione di sistemi integrati in ambito salute, sicurezza qualità e ambiente, applicabili nei settori civili, industriali e di servizi</p>
          </blockquote>
        </div>
      </div>
      <div class="card card-outline-primary mb-3 text-center">
        <div class="card-block">
          <blockquote class="card-blockquote">
            <p>Safety Bio Life propone particolari applicazioni negli ambienti di vita e di lavoro in grado di agire in un contesto ove il rispetto della compatibilità ambientale assume sempre un ruolo prioritario.</p>
          </blockquote>
        </div>
      </div>
  </div>
</section>
